@font-face {
  font-family:'fontaesome';
  src: url('fontaesome.eot?iwp40y');
  src: url('fontaesome.eot?iwp40y#iefix') format('embedded-opentype'),
    url('fontaesome.ttf?iwp40y') format('truetype'),
    url('ffontaesome.woff?iwp40y') format('woff'),
    url('fontaesome.svg?iwp40y#fontaesome') format('svg');
  font-weight:normal;font-style:normal;font-display:block;
}
[class^="fa-"], [class*=" fa-"] {font-family:'fontaesome' !important;speak:never;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;letter-spacing:0;-webkit-font-feature-settings:"liga";-moz-font-feature-settings:"liga=1";-moz-font-feature-settings:"liga";-ms-font-feature-settings:"liga" 1;font-feature-settings:"liga";-webkit-font-variant-ligatures:discretionary-ligatures;font-variant-ligatures:discretionary-ligatures;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-lg{font-size:1.33333em;line-height:0.75em;vertical-align:-.0667em}
.fa-xs{font-size:.75em}
.fa-sm{font-size:.875em}
.fa-1x{font-size:1em}
.fa-2x{font-size:2em}
.fa-stack{display:inline-block;height:2em;line-height:2em;position:relative;vertical-align:middle;width:2.5em}
.fa-stack-1x,.fa-stack-2x{left:0;position:absolute;text-align:center;width:100%}
.fa-stack-1x{line-height:inherit}
.fa-stack-2x{font-size:2em}
.fa-inverse{color:#fff;}
.fa-search:before{content:"\f002"}
.fa-user:before{content:"\f007"}
.fa-check:before{content:"\f00c"}
.fa-close:before{content:"\f00d"}
.fa-remove:before{content:"\f00d"}
.fa-times:before{content:"\f00d"}
.fa-clock-o:before{content:"\f017"}
.fa-chevron-down:before{content:"\f078"}
.fa-phone:before{content:"\f095"}
.fa-twitter:before{content:"\f099"}
.fa-facebook:before{content:"\f09a"}
.fa-facebook-f:before{content:"\f09a"}
.fa-pinterest:before{content:"\f0d2"}
.fa-caret-down:before{content:"\f0d7"}
.fa-sort-desc:before{content:"\f0dd"}
.fa-sort-down:before{content:"\f0dd"}
.fa-envelope:before{content:"\f0e0"}
.fa-linkedin:before{content:"\f0e1"}
.fa-angle-double-right:before{content:"\f101"}
.fa-angle-down:before{content:"\f107"}
.fa-youtube:before{content:"\f167"}
.fa-instagram:before{content:"\f16d"}
.fa-shopping-bag:before{content:"\f290"}
.fa-clock:before{content:"\e94e"}
